<div class='general-config-container col s12'>
<h4>
  <i class='material-icons prefix'>settings</i>
  <span>Administração</span>
</h4>

<div class='row get-data sep'>
    <p class='description'>
      Recupere os dados das medições feitas pelo veículo.
    <p>
    <div class='row buttons'>
      <button class='btn waves-effect waves-light' type='button' name='action'>Baixar dados
        <i class='material-icons right'>system_update_alt</i>
      </button>
    </div>
</div>

<div class='row parameters-config sep'>
  <%= form_for :settings, url: '/net/setup' do |f| %>
    <p class='description'>
      Configure os parâmetros para a execução da medição.
    <p>
    <div class='input-field col s3'>
      <i class='material-icons prefix'>trending_up</i>
      <%= f.number_field(:amount_of_rows, class: 'validate') %>
      <%= f.label(:amount_of_rows, 'Qtd. de Fileiras', class: 'active') %>
    </div>
    <div class='row buttons'>
      <%= f.button('Conectar e Salvar', class: 'btn waves-effect waves-light save') %>
    </div>
  <% end %>
</div>

<div class='row host-config'>
  <%= form_for :settings do |f| %>
    <p class='row description'>
      Esta é a configuração usada para acessar o veículo. O endereço padrão
      é <b>10.0.0.3</b>, não modifique essa configuração a não ser que você tenha
      certeza do que está fazendo. Mais informações podem ser encontradas
      <a href='#'>aqui</a>.
    <p>
    <div class='row'>
      <div class='input-field col s4'>
        <i class='material-icons prefix'>settings_remote</i>
        <%= f.text_field(:ip_address, class: 'validate') %>
        <%= f.label(:ip_adress, 'Endereço IP do Host', class: 'active') %>
      </div>
      <div class='input-field col s2'>
        <i class='material-icons prefix'>settings_remote</i>
        <%= f.number_field(:tcp_port, class: 'validate')%>
        <%= f.label(:port, 'Porta TCP', class: 'active') %>
      </div>

      <div class='input-field col s2'>
        <i class='material-icons prefix'>settings_remote</i>
        <%= f.number_field(:ftp_port, class: 'validate')%>
        <%= f.label(:port, 'Porta FTP', class: 'active') %>
      </div>
    </div>
    <div class='buttons'>
      <%= f.button('Salvar', class: 'btn waves-effect waves-light save', data: { restore: false }) %>
      <%= f.button('Restaurar configuração padrão', class: 'btn waves-effect waves-light save', data: { restore: true }) %>
    </div>
  <% end %>
</div>
