<html>

  <div class="content measurements">
    <h4>
      <i class="material-icons prefix"></i>
      <span>Medições</span>
    </h4>
  </div>

  <%= form_tag import_measurements_path, multipart: true do %>
    <%= submit_tag "Ler CSV" %>
  <% end %>

  <table class="centered">

    <thead>
       <tr><th>Coleta</th>
           <th>Horário</th>
           <th>Dia</th>
           <th>Latitude</th>
           <th>Longitude</th>
           <th>Umidade do solo</th>
           <th>Umidade do ar</th>
           <th>Temperatura do ar</th></tr>
    </thead>

    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td><%= measurement.coleta %></td>
          <td><%= measurement.horario.to_formatted_s(:time) %></td>
          <td><%= measurement.dia %></td>
          <td><%= measurement.latitude %></td>
          <td><%= measurement.longitude %></td>
          <td><%= measurement.umidade_solo %></td>
          <td><%= measurement.umidade_ar %></td>
          <td><%= measurement.temperatura_ar %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

</html>
