<style>
  #imagem {
    padding-left: 40%;
    width: 50%;
  }
</style>

<div id="imagem">
  <%= image_tag('logo.png', :size => "300x200") %>
</div>

<div class="row index-container col s12 white">
  <div class="cards">
    <div class="row col s10 push-m1 push-l1">
      <%= link_to ("settings/general") do %>
        <div class="col s12 m5 l5 push-m1 push-l1 card pos1 general-config">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <p>Configurações Gerais</p>
        </div>
      <% end %>

      <%= link_to ("measurements/") do %>
        <div class="col s12 m5 l5 push-m1 push-l1 card pos2 measurements">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <p>Minhas medições</p>
        </div>
      <% end %>
    </div>

    <div class="row col s10 push-m1 push-l1">
      <%= link_to ("settings/calibration") do %>
        <div class="col s12 m5 l5 push-m1 push-l1 card pos1 sensor-config">
          <i class="fa fa-wrench" aria-hidden="true"></i>
          <p>Calibração do Sensor</p>
        </div>
      <% end %>

      <%= link_to ("public/manuals") do %>
      <div class="col s12 m5 l5 push-m1 push-l1 card pos2 manuals">
        <i class="fa fa-file-text" aria-hidden="true"></i>
        <p>Manuais</p>
      </div>
      <% end %>
    </div>

    <div class="row col s10 push-m1 push-l1 secondary-menu">
      <div class="status-button col s12 m5 l5 push-m1 push-l1 card pos1 status-disconnected">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <p>Status da Conexão</p>
      </div>

      <%= link_to ("/net/start") do %>
      <div class="col s12 m5 l5 push-m1 push-l1 card pos2 start">
        <i class="fa fa-bolt" aria-hidden="true"></i>
        <p>Iniciar Medição</p>
      </div>
      <% end %>
    </div>

  </div>
</div>

<%= javascript_include_tag "index.js" %>
